@import '../../variables.scss';

.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all_items_container{
    display: flex;
    height: 100%;

    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.carousel__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel__bth{
    // margin-top: 25px;
    width: 60px;
    height:60px;
    // padding: 10px 20px;
    border: 2px solid $primary-color;
    border-radius: 15px;
    flex-shrink: 0;

    margin: 25px 54px;
}

.carousel__bth:active{
    background-color: $primary-color;
}

.carousel__bthL_img{
    width: 100%;
    height: auto;
    transform: rotate(270deg);
}
.carousel__bthR_img{
    width: 100%;
    height: auto;
    transform: rotate(270deg);
}

@media screen and (min-width: 768px) {
    .window{
        overflow: visible;
    }

    .carousel__nav{
        width: 150px;
        margin: 0 auto;
    }
    

    .carousel__bth{
        margin: 84px 0 0 0;
    }
}