
@import '../../../variables.scss';

.main{
    padding: 120px 0;
    padding-bottom: 25px;
    background-color: $secondary-color;
    overflow: hidden;
}
.content{
    width: 100%;
}
.content > h2 {
    margin: 0;
    padding-bottom: 20px;
    color: #111111;

    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
}

.content > p {
    font-size: 18px;
    font-weight: 400px;
    line-height: 31.5px;
    padding-bottom: 27px;
    color: #111111;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    // background-color: aqua;
}
label{
    position: relative;
}
input{

    padding: 19px 16px;

    width: calc(100% - 2px - 32px);
    // height: 58px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    margin-bottom: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #939393;
}
input:focus {
    outline: none;
    border: 2px solid $primary-color;
    color: black;
    // border-color: red;
}

.error__input{
    border-color: rgb(255, 107, 107);
}
.error__text{
    position: absolute;
    top: 60px;
    left: 0;
    color: rgb(255, 107, 107);
}
.battoun_margin{
    margin: 0 auto;
}
.img{
    padding-top: 42px;
    // width: 100%;
    width: 285px;
    height: auto;
}
.background__phone {
    display: none;
}
.background__group{
    display: none;
}

@media screen and (min-width: 768px){
    .main{
        padding-bottom: 120px;
    }
    .content{
        margin: 0 auto;
        width: 470px;
    }
    form{
        position: relative;
        width: 100%;
    
    }
    .img{
        display: none;
    }
    .background__phone {
        display: block;
        position: absolute;
        left: -500px;
    }
    .background__group{
        display: block;
        position: absolute;
        right: -350px;
        width: 185px;
        height: auto;
    }
    
}